@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar-dark {
  background-color: black !important;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}
.navbar-dark .navbar-collapse {
  justify-content: end !important;
}
.navbar-dark .nav-link {
  display: flex;
  justify-content: end;
}

h3 a {
  color: black;
}
h3 a:hover {
  color: black;
}

ol li {
  font-family: "Roboto Mono", monospace;
}
ol li a {
  color: black;
}
ol li a:hover {
  color: black;
}

mark {
  background-color: rgb(247, 235, 76);
  color: black;
}

@media only screen and (max-width: 992px) {
  .espacioDebajo {
    margin-bottom: 10vh;
  }

  .espacioArriba {
    margin-top: 10vh;
  }

  .fuenteHome {
    font-family: "Roboto Mono", monospace;
    color: black;
    font-size: 3vh;
    text-shadow: 1px 1px 1px rgb(108, 108, 119);
  }

  .primeraLineaHome {
    font-family: "Roboto Mono", monospace;
    color: black;
    font-size: 3vh;
    text-shadow: 1px 1px 1px rgb(108, 108, 119);
    margin-top: 8vh;
  }

  a .fuenteLogo {
    font-family: "Changa One", cursive;
    color: white;
    text-transform: uppercase;
    font-size: 3vh;
    margin-top: 20px;
  }

  .textoGrande {
    font-family: "Roboto Mono", monospace;
    color: black;
    text-shadow: 1px 1px 1px rgb(108, 108, 119);
    margin-top: 6vh;
    font-size: 3vh;
    margin-bottom: 10vh;
  }

  .fuenteTextoNormalPrimera {
    font-family: "Roboto Mono", monospace;
    color: black;
    font-size: 2.5vh;
    text-shadow: 1px 1px 1px rgb(108, 108, 119);
    margin-top: 8vh;
  }

  .fuenteTextoNormal {
    font-family: "Roboto Mono", monospace;
    color: black;
    font-size: 2.5vh;
    text-shadow: 1px 1px 1px rgb(108, 108, 119);
  }

  .fuenteAutores {
    font-family: "Roboto Mono", monospace;
    font-size: 3vh;
    text-decoration: underline;
  }

  .nombreDeAutores {
    font-family: "Roboto Mono", monospace;
    font-size: 4vh;
    text-decoration: underline;
  }

  .contenedorLibros {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    display: block;
  }

  .uno {
    display: flex;
    justify-content: center;
  }

  .dos {
    display: flex;
    justify-content: center;
  }

  .tres {
    display: flex;
    justify-content: center;
  }

  .cuatro {
    display: flex;
    justify-content: center;
  }

  .cinco {
    display: flex;
    justify-content: center;
  }

  .seis {
    display: flex;
    justify-content: center;
  }

  .librosHome {
    height: 250px !important;
    width: auto;
    margin-bottom: 3vh;
    justify-content: center !important;
  }
}
@media only screen and (min-width: 993px) {
  .fuenteBase {
    font-family: "Roboto Mono", monospace;
    color: black;
  }

  .fuenteHome {
    font-family: "Roboto Mono", monospace;
    color: black;
    font-size: 4vh;
    text-shadow: 1px 1px 1px rgb(108, 108, 119);
  }

  .primeraLineaHome {
    font-family: "Roboto Mono", monospace;
    color: black;
    font-size: 4vh;
    text-shadow: 1px 1px 1px rgb(108, 108, 119);
    margin-top: 10vh;
  }

  a .fuenteLogo {
    font-family: "Changa One", cursive;
    color: white;
    text-transform: uppercase;
    font-size: 5vh;
    margin-top: 20px;
  }

  .textoGrande {
    font-family: "Roboto Mono", monospace;
    color: black;
    font-size: 10vh;
    text-shadow: 1px 1px 1px rgb(108, 108, 119);
    font-size: 4.5vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }

  .navbar-collapse mark {
    background-color: black;
    color: white;
  }

  .fuenteTextoNormalPrimera {
    font-family: "Roboto Mono", monospace;
    color: black;
    font-size: 4vh;
    text-shadow: 1px 1px 1px rgb(108, 108, 119);
    margin-top: 8vh;
  }

  .fuenteTextoNormal {
    font-family: "Roboto Mono", monospace;
    color: black;
    font-size: 4vh;
    text-shadow: 1px 1px 1px rgb(108, 108, 119);
  }

  .fuenteAutores {
    font-family: "Roboto Mono", monospace;
    font-size: 4.5vh;
    text-decoration: underline;
  }

  .espacioDebajo {
    margin-bottom: 15vh;
  }

  .espacioArriba {
    margin-top: 15vh;
  }

  .nombreDeAutores {
    font-family: "Roboto Mono", monospace;
    font-size: 7vh;
    text-decoration: underline;
  }

  .contenedorLibros {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .uno {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .dos {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .tres {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .cuatro {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .cinco {
    grid-column: 2/2;
    grid-row: 2/3;
  }

  .seis {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .librosHome {
    height: 500px !important;
    width: auto;
    margin-bottom: 6vh;
    justify-content: center !important;
  }
}
.card {
  border: none !important;
  margin: 30px;
}

/*# sourceMappingURL=estilos.css.map */
